<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">  
        <targets>
            <target name="buffer" xsi:type="BufferingWrapper" slidingTimeout="false" bufferSize="100">
                <target name="run_log"
                        xsi:type="File"
                        layout="${message}"
                        fileName="d:/Application.log"
                        archiveOldFileOnStartup="true"/>
                </target>
            </targets>

        <rules>
            <logger name="*" minlevel="Debug" writeTo="buffer" />
        </rules>
    </nlog>
</configuration>